<div class="row-fluid">
	<div class="span4"></div>
	<div class = "span4">
	
		<tr>
			<td>
				<h3><%=@question.ask_for%></h3>
				<div class="well">
					<%= @question.description%>
				</div>

			<td>
		</tr>
	
		<tr>
		    <td>Asked by <%= link_to @question.user.email, user_path(@question.user_id)%></td>
		    <td>at <%= l @question.created_at , format: :short%></td>
		</tr>
		<tr>
			<br/><br/>
			<td>Poits for a correct answer:<%=@question.bonus+1%></td>
		</tr>
		<br/>

		<tr>
			<td><h5>Votes:<%= @question.votes%></h5></td><br/>
		</tr>
		<tr>
			<td><h5>Tag:</h5><%= @tag.title%></td><br/>
		</tr>
		<br/>

		<div class="accordion" id="accordion1">
			<div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse0">
			      	Comments
			      </a>
			    </div>
			    <div id="collapse0" class="accordion-body collapse">
			    <div class="accordion-inner">
					<div class="accordion" id="accordion2">
					<%contador=1%>
					<%@comments.each do |com|%>
					  <div class="accordion-group">
					    <div class="accordion-heading">
					      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%="collapse"+contador.to_s%>">
					       Comment by: <%=link_to com.user.email, user_path(com.user_id) %> at <%=l com.created_at , format: :short%> 
					      </a>
					    </div>
					    <div id="<%="collapse"+contador.to_s%>" class="accordion-body collapse">
					      <div class="accordion-inner">
					        <%=com.content%>
					      </div>
					    </div>
					  </div>
					 	 <%contador+=1%>
					  <%end%>
					</div>
				</div>
			</div>
		</div>
		</div>

		<%=link_to "Comment this question",new_question_question_comment_path(@question) ,:class => "btn btn-primary"%>
		<div><br/></div>

<%if can?(:create, Answer) and can?(:read, Answer) and can?(:vote, Question)%>
	<%unless @question.user_id == current_user.id%>
		<H3>Vote for this question!</H3>
		<%= link_to raw('<i class="icon-thumbs-up"></i>'), like_question_path(@question), :class => "btn", :method => :put%>
		<%= link_to raw('<i class="icon-thumbs-down"></i>'), unlike_question_path(@question), :class => "btn", :method => :put%>
		<p><br/></p>
		<%=link_to "Answer this question",new_question_answer_path(@question) ,:class => "btn btn-primary"%>
		<p><br/></p>
	<%end%>
	<%if @answers.empty?%>
		No answers yet.
	<%end%>
	</div>
</div>
<div class="row">
		<%@answers.each do |ans|%>

			<%clase=ans.state ? "success": "warning" %>
			<table class="table table-condensed">
				<tr class=<%=clase%>>
					<td>Posted By:</td>
					<td><%= link_to ans.user.email ,user_path(ans.user_id)%></td>
					<td>Votes</td>
					<td><%=ans.votes%></td>
					<td>
						<%if @question.user_id == current_user.id and ans.state==false%>
						<%=link_to raw('<i class="icon-ok"></i>'), validate_question_answer_path(@question,ans), :class =>"btn",:method => :put %>
						<%end%>
					</td>
				</tr>
				<tr class=<%=clase%>>
					<td>Content:       &nbsp;&nbsp;&nbsp;&nbsp;         </td>
					<td><%=ans.content%></td>
					<td><%=link_to "comment", new_question_answer_answer_comment_path(@question,ans), :class =>"btn" %></td>
					<td></td>
					<td><%= link_to(raw('<i class="icon-thumbs-up"></i>'), like_question_answer_path(@question,ans), :class => "btn", :method => :put) unless ans.user_id == current_user.id %></td>
				</tr>
				<tr class=<%=clase%>>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    Created at:    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td><%=l ans.created_at, format: :short%></td>
					<td></td>
					<td></td>
					<td><%= link_to(raw('<i class="icon-thumbs-down"></i>'), unlike_question_answer_path(@question,ans), :class => "btn", :method => :put) unless ans.user_id == current_user.id%>
					</td>
					
				</tr>
			</table>
		<%end%>
</div>
<%end%>
<%= link_to 'Back', questions_path %>

