<%= form_for(@question_comment, url: question_question_comments_path(@question_id), method: :post ) do |f| %>

  <% if @question_comment.errors.any? %>
    <div id="error_explanation">
      <% emsg=pluralize(@question_comment.errors.count, "error")+" prohibited this comment from being saved:"%>
      <%= content_tag :div, emsg, :class => "alert alert-error" %>
      <ul>
      <% @question_comment.errors.full_messages.each do |msg| %>
      <%= content_tag :div, msg, :class => "alert alert-error" %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%=f.label :content%>
    <%=f.text_area :content, :size=> 100%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
